body {
  font-family: "Lato";
}

/* =========== Login ============ */
.login {
  background-image: url("./components/media/stadium.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: rgb(24, 26, 27);
  height: 100vh;
}

.loginForm {
  opacity: 0.93;
  padding: 16px;
  background-color: lightgrey;
  border-radius: 4px 4px 4px 4px;
}

.landing {
  padding: 16px;
}

.spacer {
  min-height: 25vh;
}

.module {
  background-color: lightgray;
  width: 35vw;
  height: 35vh;
}
/* =========== Top Nav ============ */
.topNav {
  font-size: 1.1em;
}

.linkStyle {
  color: white;
  padding: 8px;
}
.linkStyle:hover {
  color: lightslategray;
  text-decoration: none;
}

.linkStyleDrop {
  color: black;
}

.linkStyleDrop:hover {
  color: gray;
  text-decoration: none;
}

/* =========== Tables ============ */
.teamsTable {
  width: 60%;
  margin: auto;
  background-color: #efefef;
  color: black;
  font-size: 1.2em;
}
.teamsTable td {
  text-align: left;
  border: solid 1px black;
}
.teamsTable th {
  border: solid 1px black;
  text-align: center;
}

.rankingTable {
  margin: auto;
  width: 60%;
  background-color: #efefef;
  color: black;
  font-size: 1.2em;
}

.winsTable {
  margin: auto;
  width: 100%;
  background-color: #efefef;
  color: black;
  font-size: 1.2em;
}

.winsTable td {
  padding: 0;
  border: 1px solid black;
  text-align: center;
}
.winsTable th {
  border: solid 1px black;
  text-align: center;
}

.rankingTable td {
  padding: 0;
  text-align: left;
}

.rankingTable th {
  border: solid 1px black;
  text-align: center;
}

.rankingTable .results {
  border: solid 1px black;
  text-align: center;
}

.matchesTable {
  margin-top: 16px;
  width: 60%;
  background-color: #efefef;
  color: black;
  font-size: 1.2em;
}

.matchesTable td {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.resultsTable {
  margin-top: 16px;
  width: 60%;
  background-color: #efefef;
  color: black;
  font-size: 1.2em;
}
.resultsTable td {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.guessTable {
  margin-top: 16px;
  width: 60%;
  background-color: #efefef;
  color: black;
  font-size: 1.2em;
}
.guessTable td {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.tournamentsTable {
  text-align: center;
  margin-top: 16px;
  width: 60%;
  background-color: #efefef;
  color: black;
  font-size: 1.2em;
}
.tournamentsTable th {
  border: solid 1px black;
}
.tournamentsTable td {
  border: solid 1px black;
}

/* =========== Side Nav ============ */
.sideNav {
  border-radius: 4px 4px 4px 4px;
  display: block;
  background-color: #25282a;
  padding: 16px;
}
.side {
  display: block;
  color: white;
  padding: 8px;
}
.side:hover {
  color: lightslategray;
  text-decoration: none;
}

/* =========== Spinner ============*/
.spinner {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  top: 30%;
  right: 0;
  text-align: center;
  z-index: 9999;
}

/* =========== Media Queries ============ */

@media only screen and (max-width: 800px) {
  /* =========== Tables ============ */
  .matchesTable {
    width: 100%;
    padding: 0;
    font-size: 1em;
  }

  .tournamentsTable {
    width: 100%;
    font-size: 1em;
  }

  .resultsTable {
    width: 100%;
    padding: 0;
    font-size: 1.2em;
  }

  .resultsTable td {
    padding: 0;
  }

  .teamsTable {
    width: 100%;
    padding: 0;
    font-size: 1em;
  }
  .rankingTable th {
    font-size: 0.8em;
  }
  .rankingTable {
    width: 100%;
    padding: 0;
  }

  .rankingTable td {
    min-width: 8ch;
    padding: 0;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 0.8em;
  }

  .guessTable {
    width: 100%;
    font-size: 1.1em;
  }

  .guessTable td {
    padding: 0;
  }
  /* =========== Side Nav ============ */
  .sideNav {
    display: inline;
    padding: 8px;
    background-color: #131313;
    font-size: 0.8em;
    text-align: center;
  }

  .side {
    display: inline;
    color: white;
    padding: 8px;
  }
  .topNav {
    font-size: 0.8em;
  }
}
