.login {
  background-image: url("./components/media/stadium.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: rgb(24, 26, 27);
  height: 100vh;
}

.loginForm {
  opacity: 0.93;
  padding: 16px;
  background-color: lightgrey;
  border-radius: 4px 4px 4px 4px;
}
body {
  font-family: "Lato";
}
.spacer {
  min-height: 25vh;
}

.module {
  background-color: lightgray;
  width: 35vw;
  height: 35vh;
}

.landing {
  padding: 16px;
}

.linkStyle {
  color: white;
  padding: 8px;
}
.linkStyle:hover {
  color: lightslategray;
  text-decoration: none;
}

.linkStyleDrop {
  color: black;
}

.linkStyleDrop:hover {
  color: gray;
  text-decoration: none;
}

.headline {
  z-index: 1;
  background-color: white;
  position: relative;
}
